body {
  /* background: url('../styles/bgimageblur.jpg'); */
  background-color: #ceebde;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.active_button {
  padding: 8px 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #418264;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.active_button:hover {
  background-color: #418264;
  box-shadow: 0px 5px 15px rgba(0,0,0,1);
}

.active_button:active {
  background-color: #418264;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
  transform: translateY(4px);
}